<div class="row">

    <div class="container center">
        <form method="POST" action="/transaction">
          <h3>Welcome</h3>

              <input type='text' placeholder='username' name="username" id='username'/>
              <input type='password' placeholder='password' name="password" id='password'/>


              <input type="submit" name="name" value="Login" class='btn green darken-3 white-text'>


        </form>
    </div>
</div>
<script>
//console.log(input);
</script>
