<div class="row">
    <div class="container center">
        <form method="post" action="/light">
          <h3>Verit</h3>
            <img class="responsive-img" src="1284186-27676391-1600-900.jpg">
              <input type='text'placeholder='username' id='username'/>
              <input type='text/number'placeholder='password' id='password'/>
          <a href='/transaction' class='btn'>Login</a>
        </form>
    </div>
</div>
