<div class="row">
    <div class="container center">
        <form method="post" action="/light">
          <input type='text'placeholder='username' id='username'/>
          <input type='text/number'placeholder='password' id='password'/>
          <a href='/transaction' class='btn'>Login</a>
        </form>
    </div>
</div>
