<div class="row">

    <div class="container center">
        <form method="post" action="transaction">
          <h3>Verit</h3>

              <input type='text'placeholder='username' name = "username" id='username'/>
              <input type='password'placeholder='password' name = "password" id='password'/>
          <a href='/transaction' class='btn orange darken-2'>Login</a>
        </form>
    </div>
</div>
<script>
//console.log(input);
</script>
