<div class="container">
 <p>Your transaction has gone through,R300 has been deducted from acc 1012512422.</p>
   <p>Available balance R221.00</p>
   <a href='/' class='btn green darken-3 white-text'>Home</a>
 </div>
