<div class="container center">
  <div class="welcome">
     
    <h3>Welcome {{user}} ..</h3>

  </div>

  <span class="container">Your QR-Code</span>

  <div class='row'>
    <div class='col s3'></br></div>
    <div class='col s6'>
      <div id='qrcode'></div>
    </div>
    <div class='col s3'></br></div>
  </div>

  <a href='/nozuko-shop' class='btn'>nextpage</a>

  <script>
    $(function() {
        var value = "Siya Makhuzeni";
        console.log('changed', value);
        var qrcode = document.getElementById("qrcode");
        qrcode.innerHTML = '';
        new QRCode(qrcode, value);
      });

    var socket = io();
    socket.on('scan', function (data) {
      $.get('/unique-pin', function(pageSection){
          $('.container').html(pageSection)
      });
    });
  </script>
</div>
