<div class="row">
    <div class="container center">
        <form method="post" action="/light">
          <!-- <input type='text'placeholder='username' id='username'/> -->
          <input type='text'placeholder='unique pin' id='unique pin'/>
          <a href='/' class='btn'>Proceed</a>
        </form>
    </div>
</div>
