<div class="row">
    <div class="container center">
        <form method="post" action="/light">
          <!-- <input type='text'placeholder='username' id='username'/> -->
          <input type='password' placeholder='unique pin' id='unique pin'/>
          <a href='/verification' class='btn green darken-3 white-text'>Proceed</a>
        </form>
    </div>
</div>
