<div>

   <p> You are about to make the payment at pick'n pay in Waterfront for R300</p>
      <button type="button" class="btn btn-primary btn-lg">Accept</button>
      <button type="button" class="btn btn-primary btn-lg">Decline</button>
</div>
