<div>
      <p> You have just scanned your code, and an amount of R300.00 is about to be deducted from your account for payment at Chockers in Waterfront. IS IT YOU ??</p>
      <a href='/message' class='btn green darken-3 white-text'>Accept</a>
      <a href='/error' class='btn green darken-3 white-text'>Decline</a></br>

      <!-- <a href='/error' class='btn green darken-3 white-text'>Report Fraud</a> -->

</div>
