<div>
  {{#transactions}}
      <p> You are about to make a payment at {{shop_name}} in Waterfront for R{{amount}}</p>
      <a href='/message' class='btn'>Accept</a>
      <a href='/error' class='btn'>Decline</a>
    {{/transactions}}
</div>
